.App {
  text-align: center;
}
.navbar-desktop {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  display: inline-flex;
  gap: 96px;
  padding: 24px 76px;
  position: relative;
}

.navbar-desktop .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 28px;
  justify-content: flex-end;
  position: relative;
}

.navbar-desktop .logo {
  height: 30px;
  position: relative;
  width: 30px;
}

.navbar-desktop .text-wrapper {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.navbar-desktop .group {
  height: 54px;
  position: relative;
  width: 704px;
}

.navbar-desktop .div {
  border: 1.5px solid;
  border-color: #b3b9c4;
  border-radius: 32px;
  height: 54px;
  overflow: hidden;
  position: relative;
}

.navbar-desktop .tabler-chevron-down {
  height: 24px !important;
  left: 588px !important;
  position: absolute !important;
  top: 17px !important;
  width: 24px !important;
}

.navbar-desktop .ph-magnifying-glass-wrapper {
  background-color: #1e65ff;
  border-radius: 0px 32px 32px 0px;
  height: 54px;
  left: 624px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}

.navbar-desktop .ph-magnifying-glass {
  height: 24px !important;
  left: 25px !important;
  position: absolute !important;
  top: 15px !important;
  width: 24px !important;
}

.navbar-desktop .line {
  height: 54px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 2px;
}

.navbar-desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 451px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.navbar-desktop .p {
  color: #b3b9c4;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.navbar-desktop .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 54px;
  position: relative;
}

.navbar-desktop .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.navbar-desktop .icon-instance-node {
  height: 35px !important;
  position: relative !important;
  width: 35px !important;
}

.navbar-desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.navbar-desktop .div-wrapper {
  background-color: #f5f6f7;
  border-radius: 20px;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 30px;
}

.navbar-desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
}

.navbar-desktop .radius {
  align-items: center;
  border: 1px solid;
  border-color: var(--borderborderinactive);
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
}

.navbar-desktop .text-wrapper-5 {
  color: var(--contentcontentprimary);
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
